# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# Secrets
*.pem
*.key
*.p12
*.env
*.tfvars
*.tfvars.json
keys/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Python
__pycache__/
*.pyc

# Logs
*.log